{% extends "base.html" %}
<!-- == PAGE TITLE == -->
{% block title %} DESKTOP {% endblock %}

<!-- == PAGE CONTENT == -->
{% block content %}

    <!-- ========================================================================================== -->
    <!-- ============================  MAIN PAGE => LIST ALL TASKS  =============================== -->
    <!-- ======================================================
        PAGE HEADER 
        import header template
        Displays logo and title
        ====================================================== -->
        {% include 'header.html' %}


    <main>
        
        <!-- DIV MENU -->
        <div class="task-menu-div">
            <button type="button" class="task-menu-btn" id="task-new-btn-id">NEW TASK</button>
            <button type="button" class="task-menu-btn" id="origin-new-btn-id">NEW ORIGIN</button>
            <button type="button" class="task-menu-btn" id="reader-new-btn-id">NEW READER</button>
            <button type="button" class="task-menu-btn" id="settings-new-btn-id">SETTINGS</button>
            <button class="logout-btn-class" id="logout-btn-id">LOGOUT</button>
        </div>
        <!-- DIV FILTERS -->
        <div class="filter-div-main">
            <p><button class="filter-btn-class" id="filter-btn-id">FILTER</button></p>
            <div class="filter-div-nest">
                <div class="filter-div-status">
                    <div>
                        <select name="" id="filter-status-id">
                            <option value="">ALL STATUS</option>
                            <option value="draft">DRAFT</option>
                            <option value="in progress">IN PROGRESS</option>
                            <option value="standing by">STANDING BY</option>
                            <option value="completed">COMPLETED</option>
                            <option value="canceled">CANCELED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="filter-div-nest">
                <div class="filter-div-date">
                    <div>
                        <p><input type="checkbox" name="date-range" id="filter-daterange-input-id">RANGE</p>
                        <div id="filter-daterange-div-id">
                            FROM: <br> <input type="date" id="filter-daterange-from-input-id">
                            <br>
                            TO: <br> <input type="date" id="filter-daterange-to-input-id">
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-div-nest">
                <div class="filter-div-deadline">
                    <div>
                        <p><input type="checkbox" id="filter-deadline-input-id">DEADLINE</p>
                        <div id="filter-deadline-div-id">
                            UNTIL: <br> <input type="date" name="" id="filter-deadline-until-input-id">
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-div-nest">
                <div class="filter-div-origin">
                    <div>
                        <p><input type="checkbox" id="filter-origin-input-id">ORIGIN</p>
                        <div id="filter-origin-div-id">
                            <select name="" id="filter-origin-select-id">
                                <option value="">ALL</option>
                                {% for o in origins %}
                                    <option value="{{o.id}}">{{o.description}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="filter-div-nest">
                <div class="filter-div-editable">
                    <div>
                        <p> <input type="checkbox" name="" id="filter-editable-input-id">EDITABLE</p>
                        <div id="filter-editable-div-id">
                            <select name="" id="filter-editable-select-id">
                                <option value="">ALL</option>
                                {% for e in users %}
                                {% if e.id != user_id %}
                                    <option value="{{e.id}}">{{e.name}}</option>
                                {% endif %}
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- DISPLAY TASKS NESTED IN SECTION TAG -->
        <div class="task-list-div">
            <section class="task-section" id="task-section-id">
                <button class="open-all-tasks-btn-class" id="open-all-tasks-btn-id">OPEN ALL TASKS</button>
                <button class="close-all-tasks-btn-class" id="close-all-tasks-btn-id">CLOSE ALL TASKS</button>
                <div class="task-list-class-div"> <!-- PAGE EXCLUSIVE CLASS-->
                  
                    <table class="taks-list-table">
                        <tbody>
                            <input type="hidden" id="all-users-object" value="{{users}}">
                            <input type="hidden" id="all-readers-object" value="{{readers}}">
                            <input type="hidden" id="all-coauthors-object" value="{{coauthors}}">
                            
                            {% for t in tasks %}
                                <tr>
                                    <td class="display-class-td" id="{{t.id}}_{{t.status}}">
                                        <div class="display-task-div" {{    'id=display-taks-div-id-skatch' if t.status == 'draft' 
                                                                            else 'id=display-taks-div-id-started' if t.status == 'in progress'
                                                                            else 'id=display-taks-div-id-responded' if t.status == 'responded'
                                                                            else 'id=display-taks-div-id-standingby' if t.status == 'standing by'
                                                                            else 'id=display-taks-div-id-solved' if t.status == 'completed'
                                                                            else 'id=display-taks-div-id-canceled' if t.status == 'canceled'
                                                                        }}>
                                            <!-- DISPLAYS ID AND DESCRIPTION -->
                                            <div class="short-task-div-class" name="short-task-div" id="short-task-div-id_{{t.id}}">
                                                <div class="short-task-div-2-class"   {{    'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                                            else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                                            else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                                            else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                                            else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                                            else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                                                        }}>
                                                    <b>{{ t.id }} - </b>
                                                    <label>{{ t.description }}</label>
                                                </div>
                                            </div>
                                            <!-- HIDDEN DIV DISPLAYS ID AND DESCRIPTION -->
                                            <div class="full-task-div-class" id="full-task-div-id_{{t.id}}">
                                                <button 
                                                    type="button" 
                                                    value="{{t.id}}" 
                                                    class="full-hide-btn" 
                                                        {{ 
                                                            'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                            else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                            else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                            else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                            else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                            else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                        }}
                                                    >CLOSE TASK
                                                </button>
                                                <div class="display-date-time-deadline-origin-status">
                                                    <!-- ID -->
                                                    <div    {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                            <label>ID</label><label id="set_{{t.id}}_id">{{ t.id }}</label>
                                                    </div>
                                                    <!-- ORIGIN DATE -->
                                                    <div    {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                            <label>ON</label><label id="set_{{t.id}}_date">{{ t.origin_date | datetimeformat}}</label>
                                                    </div>
                                                    <!-- ORIGIN TIME -->
                                                    <div    {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                        <label>AT</label><label id="set_{{t.id}}_time">{{ t.origin_time }}</label></div>
                                                    <!-- DEADLINE -->
                                                    <div    {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                        <label>UNTIL</label><label id="set_{{t.id}}_deadline">{{ t.deadline | datetimeformat}}</label>
                                                    </div>
                                                    <!-- ORIGIN -->
                                                    <div    {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                        <label>FROM</label>
                                                        <label id="set_{{t.id}}_origin">{{ t.origin_name }}</label>
                                                        <input type="hidden" id="hidden-set_{{t.id}}_origin" value="{{t.origin_id}}">
                                                    </div>
                                                    <!-- COAUTHOR -->
                                                    <div class="display-coauthor"
                                                            {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                        <label>COAUTHOR</label>
                                                        {% if t.coauthor[0] != 0 %}
                                                        <label id="set_{{t.id}}_coauthor"> 
                                                            {{ t.coauthor_name | join(' | ') }}
                                                        </label>
                                                        {% endif %}
                                                        <input type="hidden" id="hidden-set_{{t.id}}_coauthor" value="{{t.coauthor}}">
                                                        <input type="hidden" id="hidden-set_{{t.id}}_coauthor_name" value="{{t.coauthor_name}}">
                                                    </div>
                                                    <!-- STATUS -->
                                                    <div class="display-status"
                                                           {{ 'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                            }}>
                                                        <label id="set_{{t.id}}_status">{{ t.status }}</label>
                                                    </div>
                                                </div>
                                                <div class="display-description">
                                                    <label>DESCRIPTION</label>
                                                    <p id="set_{{t.id}}_description">{{ t.description }}</p>
                                                </div>
                                                <div class="display-instructions">
                                                    <label>INSTRUCTIONS</label>
                                                    <p id="set_{{t.id}}_instructions">{{ t.instructions }}</p>
                                                </div>
                                                <div class="display-comments">
                                                    <label>COMMENTS</label>
                                                    <details>
                                                        <summary class="summary-commbody">OPEN COMMENTS</summary>
                                                    {% for comm in t.comments %}
                                                        <p class="commtop">
                                                            {{ comm.commTop }}
                                                        </p>
                                                        <p class="commbody">
                                                            {{ comm.commBody }}
                                                        </p>
                                                    {% endfor %}
                                                    </details>
                                                    <hr class="hrcom">
                                                </div>
                                                <div class="display-editable-visibility-reader">
                                                    <div>
                                                        {% if t.editable %}
                                                            <label class="editable-visibility-reader">EDITABLE BY</label><br>
                                                            <input type="hidden" id="set_{{t.id}}_editableId" value="{{t.editable}}">
                                                            <input type="hidden" id="set_{{t.id}}_editableName" value="{{t.editableName}}">
                                                            <input type="hidden" id="set_{{t.id}}_editableIdName" value="{{t.editable}}_{{t.editableName}}">
                                                            {% for e in t.editableName %}
                                                                <input type="hidden" value="{{ t.editable[loop.index-1] }}" > 
                                                                <label>{{ e }}</label><br>
                                                            {% endfor %}
                                                        {% else %}
                                                            <input type="hidden" id="set_{{t.id}}_editableId" value="">
                                                            <input type="hidden" id="set_{{t.id}}_editableName" value="">
                                                            <input type="hidden" id="set_{{t.id}}_editableIdName" value="">
                                                            <p>LOCKED</p>
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        {% if t.visibility %}
                                                            <label class="editable-visibility-reader">VISIBLE TO</label><br>
                                                            <input type="hidden" id="set_{{t.id}}_visibilityId" value="{{t.visibility}}">
                                                            <input type="hidden" id="set_{{t.id}}_visibilityName" value="{{t.visibilityName}}">
                                                            <input type="hidden" id="set_{{t.id}}_visibilityIdName" value="{{t.visibility}}_{{t.visibilityName}}">
                                                            {% for e in t.visibilityName %}
                                                                <input type="hidden" value="{{ t.visibility[loop.index-1] }}" > 
                                                                <label>{{ e }}</label><br>
                                                            {% endfor %}
                                                        {% else %}
                                                            <input type="hidden" id="set_{{t.id}}_visibilityId" value="">
                                                            <input type="hidden" id="set_{{t.id}}_visibilityName" value="">
                                                            <input type="hidden" id="set_{{t.id}}_visibilityIdName" value="">
                                                            <p>PRIVATE</p>
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        {% if t.readers %}
                                                            <label class="editable-visibility-reader">READERS</label><br>
                                                            <input type="hidden" id="set_{{t.id}}_readerId" value="{{t.readers}}">
                                                            <input type="hidden" id="set_{{t.id}}_readerName" value="{{t.readerName}}">
                                                            <input type="hidden" id="set_{{t.id}}_readerIdName" value="{{t.readers}}_{{t.readerName}}">
                                                            {% for e in t.readerName %}
                                                                <input type="hidden" value="{{ t.readers[loop.index-1] }}" > 
                                                                <label>{{ e }}</label><br>
                                                            {% endfor %}
                                                        {% else %}
                                                            <input type="hidden" id="set_{{t.id}}_readerId" value="">
                                                            <input type="hidden" id="set_{{t.id}}_readerName" value="">
                                                            <input type="hidden" id="set_{{t.id}}_readerIdName" value="">
                                                            <p>NO READERS</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <button type="button" class="task-update-btn" name="task-update-btn-name" value="{{t.id}}" {{ 
                                                                                        'id=legend-btn-skatch-id' if t.status == 'draft' 
                                                                                    else 'id=legend-btn-started-id' if t.status == 'in progress'
                                                                                    else 'id=legend-btn-responded-id' if t.status == 'responded'
                                                                                    else 'id=legend-btn-standingby-id' if t.status == 'standing by'
                                                                                    else 'id=legend-btn-solved-id' if t.status == 'completed'
                                                                                    else 'id=legend-btn-canceled-id' if t.status == 'canceled'
                                                                                }}
                                                                                
                                                >UPDATE</button>
                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
        <!-- DIV LEGENDS -->
        <div class="task-legend-div">
            <!-- skatch started responded standingby solved canceled  -->
                <!-- skatch --><label class="legend-btn-skatch" id="legend-btn-skatch-id">DRAFT
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-skatch-id">HIDE</button>
                                </label>
                <!-- started --><label class="legend-btn-started" id="legend-btn-started-id">IN PROGRESS
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-started-id">HIDE</button>
                                </label>
                <!-- responded --><label class="legend-btn-responded" id="legend-btn-responded-id">RESPONDED
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-responded-id">HIDE</button>
                                </label>
                <!-- standing by --><label class="legend-btn-standingby" id="legend-btn-standingby-id">STANDING BY
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-standingby-id">HIDE</button> 
                                </label>
                <!-- solved --><label class="legend-btn-solved" id="legend-btn-solved-id">COMPLETED
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-solved-id">HIDE</button>
                                </label>
                <!-- canceled --><label class="legend-btn-canceled" id="legend-btn-canceled-id">CANCELED
                                    <button class="btn-hide-show-stt-class" id="btn-hide-show-stt-canceled-id">HIDE</button>
                                </label>
        </div>
        <!-- HIDDEN DIV UPDATE -->
        <div class="task-update-div-display-back">
            <div class="task-update-div-display">
                <div class="task-update-div-display-align">
                    <!-- ID - DATE - TME - DEADLINE - ORIGIN - STATUS -->
                    <div class="task-update-div-display-align-line">
                        <div id="task-update-div-display-align-line-id">
                            <label for="form-update-id-id">ID</label>
                            <input type="text" id="form-update-id-id" disabled>
                        </div>
                        <div id="task-update-div-display-align-line-date">
                            <label for="form-update-date-id">DATE</label>
                            <input type="date" id="form-update-date-id">
                        </div>
                        <div id="task-update-div-display-align-line-time">
                            <label for="form-update-time-id">TIME</label>
                            <input type="time" id="form-update-time-id">
                        </div>
                        <div id="task-update-div-display-align-line-deadline">
                            <label for="form-update-deadline-id">DEADLINE</label>
                            <input type="date" id="form-update-deadline-id">
                        </div>
                        <div id="task-update-div-display-align-line-coauthor">
                            <label for="form-update-coauthor-id">COAUTHOR</label>
                            <div id="task-update-div-display-coauthor">
                                <!-- COAUTHOR LIST ON UPDATE DIV -->
                            </div>
                        </div>
                        <div id="task-update-div-display-align-line-origin">
                            <label for="form-update-origin-id">ORIGIN</label>
                            <select id="select-update-origin-id">
                                <option value="0">NO ORIGIN</option>
                                {% for ori in origins %}
                                    <option value="{{ ori.id }}">{{ ori.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="task-update-div-display-align-line-full">
                        <label for="form-update-description-id">DESCRIPTION</label>
                        <textarea id="form-update-description-id"></textarea>
                    </div>
                    <!-- INSTRUCTIONS -->
                    <div class="task-update-div-display-align-line-full">
                        <label for="form-update-instructions-id">INSTRUCTIONS</label>
                        <textarea id="form-update-instructions-id"></textarea>
                    </div>
                    <!-- COMMENTS -->
                    <div class="task-update-div-display-align-line-full">
                        <label for="form-update-comments-id">COMMENTS</label>
                        <textarea id="form-update-comments-id"></textarea>
                    </div>
                    <!-- EDITABLE - VISIBILITY - READERS -->
                    <div class="task-update-div-display-align-line-bottom">
                        <div id="task-update-div-display-align-line-bottom-editable">
                            <!-- EDITABLE LIST ON UPDATE DIV -->
                        </div>
                        <div id="task-update-div-display-align-line-bottom-visibility">
                            <!-- VISIBILITY LIST ON UPDATE DIV -->
                        </div>
                        <div id="task-update-div-display-align-line-bottom-reader">
                            <!-- READERS LIST ON UPDATE DIV -->
                        </div>
                    </div>
                    <!-- BUTTONS => BACK / CONFIRM -->
                    <div class="task-update-div-display-align-line-button">
                        <button class="update-form-cancel" id="btn-update-cancel-id">BACK</button>
                        <button class="update-form-confirm" id="btn-update-confirm-id">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="add__class-add-remove-back" id="add__class-add-remove-id-back">
            <div class="add__class-add-remove" id="add__class-add-remove-id">

            </div>
        </div>
        <!-- HIDDEN DIV UPDATE STATUS -->
        <div class="task-update-status-div-back" id="task-update-status-div-back-id">
            <div class="task-update-status-div" id="task-update-status-div-id">
            </div>
        </div>
        <div id="popup-id-back">
            <div class="popup-class" id="popup-id">
                <div>
                    <label id="popup-title-label"></label>
                    <p id="popup-title"></p>
                </div>
                <div>
                    <label id="popup-message-label"></label>
                    <p id="popup-message"></p>
                </div>
                <div class="div-btn-stt-class" id="div-btn-stt">
                    
                </div>
            </div>
        </div>
        
        <!-- ======================================================
        FOOTER
        Displays default version info
        ====================================================== -->
        {% include 'footer.html' %}
    
    
    <script src="{{url_for('static',filename='js/mainTasks.js')}}" type="module"></script>
{% endblock %}